
.allpage {
    /*background: rgb(186,52,141);
    background: radial-gradient(circle, rgba(186,52,141,1) 0%, rgba(122,34,93,1) 54%, rgba(250,70,190,1) 92%);*/
    background-image: url("/img/background1.jpg");
    background-size: cover; 
}

.btn {
    color: yellow;    
}

/* PAGE CONTACT */


.alltext {
    padding-top: 75px;
    font-family: 'Times New Roman', Times, serif;
}

.titrecontact {
    font-family: 'Square Peg', cursive;
    text-align: center;
    font-size: 150px;
    font-style: italic;
    color: aliceblue;
}

.fiches {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: scale(1.2);
}

/* .fiches hover {
    transform: scale(1.5);
} */

.infocontact {
    display: flex;
    flex-direction: row;
}

.petitesouris {
    padding: 50px;
    background-color: rgba(64, 66, 66, 0.527);
    text-align: center;
    color: rgb(204, 199, 191);
}

.cherryink {
    padding: 50px;
    background-color: rgba(64, 66, 66, 0.527);
    text-align: center;
    color: rgb(204, 199, 191);
}

.adresse {
    margin-top: 150px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Square Peg', cursive;
    font-style: italic;
    color: aliceblue;
}

.png {
    margin-right: 15px;
}

/* LA PETITE SOURIS */

.gallery {
    display: flex;
    
}

.pardeux {
    justify-content: space-between;
    margin: 90px;
    border: 1px solid rgb(70, 57, 57);
}